@font-face{
    font-family:"sw";
    src: url(./starjedi/Starjedi.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}
body {
    background-image: url(./fundo.jpg);
    font-family: "sw";
    flex-direction: column;
}
#mostra{
    color: yellow;
}
#mostrachar{
    color: yellow;
    z-index: -1;
}